html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    background-color: black;
}

.game-board {
    position: relative;
    top: 6%;
}

.tittle {
    text-align: center;
    position: relative;
    top: 7%;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25%; /*25% 25% 25%*/
    grid-template-rows: 170px 170px 170px; /*100% 100% 100%*/
    position: relative;
    top: -20px;
    justify-content: center;
    padding: 10px;
    gap: 0;
    color: white;
}

.grid-item {
    border-style:solid;
    color: black;
    text-align: center;
    color: white;
}

.grid-item h1 {
    position: relative;
    top: 25px;
    font-size: 50px;
    color: white;
}

.tittle {
    padding: 0;
    position: relative;
    top: -10px;
    color: white;
}

#winner-container { 
    position: relative;
    bottom: 50%;
    text-align: center;
    margin: auto;
    border-style: solid;
    border-radius: 2px;
    width: 40%;
    visibility: hidden;
    background-color: black;
    color: white;
    visibility: hidden;
}

#winner-container-item {
    font-size: 60px;
    color: white;
}

@media (min-height: 879px) {
    .game-board {
        position: relative;
        top: 140px;
    }

    #winner-container {
        position: relative;
        bottom: 235px;
    }
}

@media (max-width: 390px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: visible;
        text-align: center;
        background-color: black;
    }

    #winner-container {
        bottom: 360px;
    }
}

@media (max-height: 600px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: visible;
        text-align: center;
        background-color: black;
    }
}